<h1>Extremely good tax calculator</h1>

<p>Income tax calculator for New Zealand tax rates.</p>
<p>Enter your annual income, press <em>Calculate</em>, and receive a breakdown of your taxes.</p>

<%= form_with url: "index/calculate", method: :get, data: { turbo_frame: :breakdown } do |form| %>
	<div>
      <%= form.label "income", "Annual income" %>
      <%= form.number_field "income", required: true, min: 0 %>
    </div>

	<%= form.submit "Calculate" %>
<% end %>

<%= turbo_frame_tag :breakdown do %>
<% end %>